.info-index´{
	float: left;
}
.div-index img{
	display: inline;
}
.separador{
	background-color: orange;
	color: white;
	min-height: 50px;
	text-align: center;
}
.separador2{
	background-color: orange;
	color: white;
	min-height: 32px;
	text-align: center;
}